{% extends 'base.html' %}

{% block title %}
    Book edit
{% endblock %}

{% block content %}
{#    <script>#}
{#        $(function () {#}
{#            $('.datepicker').datetimepicker({#}
{#                changeMonth: true,#}
{#                changeYear: true,#}
{#                yearRange: "1900:2012"#}
{#            });#}
{#        });#}
{#    </script>#}
    <h1>Edit book</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save changes</button>
    </form>
{% endblock %}
